/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* general */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.dark {
    background-color: #1F2937;
}
.primary-dark {
    color: #F9FAF8;
    font-weight: 900;
}
.secondary-dark {
    color: #E5E7EB;
}
.primary-light {
    color: #1F2937;
    font-weight: 900;
}
ul a {
    text-decoration: none;
}

/* header */
.header {
    padding: 2vh;
    display: flex;
    justify-content: space-around;
}
.left-header {
    font-size: 24px;
}
.right-header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

/* hero */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 5%;
}
.left-hero, right-hero {
    flex-basis: 40%;
}
.left-hero {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    gap: 24px;
}
.hero-text {
    font-size: 72px;
}
.hero-desc {
    font-size: 24px;
}
.hero-img {
    width: 500px;
}
.hero-btn {
    font-size: 24px;
    width: auto;
    border-radius: 10px;
    align-self: flex-start;
    padding: 8px 40px;
    background-color: #3882F6;
    font-weight: 600;
    color: white;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    height: 60vh;
}

.info-title {
    font-size: 48px;
}

.group {
    display: flex;
    justify-content: center;
    gap: 64px;
    width: 100vw;
    padding: 64px;
}

.info-group {
    display: flex;
    flex-direction: column;
    max-width: 12vw;
    padding: 10px;
}

.info-img {
    border: 2px solid #1F2937;
    border-radius: 20px;
}

.info-text {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}